//============================================================
// VARIABLES
//============================================================



$font-family: ProximaNova, sans-serif;
$font-size: 16px;
$font-color: #102632;

$color-base: #2897f0;

$transition: all 0.3s ease;

$large-screen: 1200px;